html,
body {
    margin: 0px;
    background-color: rgba(0, 0, 0, .3);
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif!important;
    background: url(../CardsAgainstHumanity/taustakuva2.jpg);
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

h1 {
    font-size: 20px;
    font-family: monospace;
    color: #fff!important;
}

.ohjenappula {
    position: relative;
    text-align: center;
}

.fa-info-circle {
    font-size: 48px!important;
    color: red;
    position: absolute;
    top: 8px;
    right: 16px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.popuptext {

    visibility: hidden;
    width: 250px;
    height: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 70px;
}

.popuptext::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.etusivu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    padding-right: 5px!important;
    padding-left: 5px!important;
    margin-right: auto;
    margin-left: auto;
    min-width: 280px;
}

.otsikko {
    text-align: center;
    text-shadow: 0px 0px 20px #ff005b;
}


.oma {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 1px;
}

.paina2 {
    background-color: transparent;
    border-radius: 10px;
    margin-top: auto;
    cursor: pointer;
    color: #fff;
    padding: 60px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

.paina2:hover {
    background-color: rgba(0, 0, 0, .5);
}

.paina2:active {
    transform: translateY(6px);
}

.col-xs-6 {
    padding-right: inherit!important;
    padding-left: inherit!important;
}

/****************************************************/

/********** Vaihto ja Rooli nappaimet **********/

#vihrea {
    display: none;
    border-radius: 10px;
}

#punanen {
    display: none;
    border-radius: 10px;
}

.vaihto {
    background-color: transparent;
    margin-top: auto;
    cursor: pointer;
    color: #fff;
    padding: 50px 65px 50px 65px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.vaihto:hover {
    background-color: rgba(0, 0, 0, .5);
}

.vaihto:active {
    transform: translateY(6px);
}

.rooli {
    background-color: transparent;
    margin-top: auto;
    cursor: pointer;
    color: #fff;
    padding: 50px 65px 50px 65px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.rooli:hover {
    background-color: rgba(0, 0, 0, .5);
}

.rooli:active {
    transform: translateY(6px);
}

/****************************************************/

/********** Valko ja Musta nappaimet **********/

.valkovari2 {
    background-color: transparent;
    margin-top: auto;
    cursor: pointer;
    color: #fff;
    border: 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 50px 65px 50px 65px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.valkovari2:hover {
    background-color: rgba(0, 0, 0, .5);
}


.valkovari2:active {
    transform: translateY(6px);
}

.mustavari2 {
    background-color: transparent;
    margin-top: auto;
    cursor: pointer;
    color: #fff;
    border: 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 50px 65px 50px 65px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.mustavari2:hover {
    background-color: rgba(0, 0, 0, .5);
}

.mustavari2:active {
    transform: translateY(6px);
}

#mustavari {
    display: none;
    border-radius: 10px;
    color: white;
}

#valkovari {
    display: none;
    border-radius: 10px;
}

/****************************************************/

@media (max-width: 768px) {
    h1 {
        font-size: 18px!important;

    }
    .etusivu {
        margin: 0px;
        height: auto;
    }
    .paina2 {
        padding: 45px;
        font-size: 20px;
    }

    .oma {
        display: block;
        max-width: 100%;
        height: auto;
        padding: -100px;
        margin-top: 1px;
    }

    /********** Valko ja Musta nappaimet **********/
    .valkovari2 {
        font-size: 20px;
        padding: 30px;
    }

    .mustavari2 {
        padding: 30px;
        font-size: 20px;
    }
    /****************************************************/
    /********** Vaihto ja Rooli nappaimet **********/
    .vaihto {
        padding: 30px;
        font-size: 20px;
    }

    .rooli {
        padding: 30px;
        font-size: 20px;
    }

    /****************************************************/
}

@media (max-width: 450px) {
    .etusivu {
        height: 100%;
    }

    /********** Valko ja Musta nappaimet **********/
    .valkovari2 {
        font-size: 20px;
        padding: 30px;
    }

    .mustavari2 {
        padding: 30px;
        font-size: 20px;
    }
    /****************************************************/
}
